/* https://flexboxfroggy.com/ - estudar flexbox */

body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}
 

ol,ul li {
    list-style: none;
}

a{
    text-decoration: none;
    color: #000;
}


.menu{
    background: #ADA996;    
    display: flex;
    justify-content: space-between;
    padding: 10px;
    padding-bottom: 28px;
    align-items: center;
    /* position: fixed; */
}

.menu li{ 
    display: inline;
    padding-left: 80px; 
}

.menu img{
    width: 70px;
    height: 90px;
    padding: 0;
    margin: 0;
}

header > nav > ul > li:last-child{
    font-weight: bold;
    color: azure;
}

a{
    text-decoration: none;
    color: #000;
}

a:hover{
    color: #502b5b;
    font-weight: bold;
}

.estilo-imagem{
    border: solid #502b50;
    border-radius: 15%;
}

#banner > h1{
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    text-align: center;
}

#banner > p{
    text-align: center;
}

#banner{
    padding-top: 300px;
    padding-bottom: 300px; 
    margin-top: -20px;
    /* margin-bottom: 185px; */
    background-image: url('../img/banner.jpg');
    background-size: cover;

}

.container{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    flex-wrap: row wrap;
    padding: 30px;
}

.sobre-bolovo{
    margin: 50px;
}

.container-flex{
    display: flex;
    align-items: center;
    flex-flow: column;
    
}

.extra > h2, p{
   text-align: center;
}

footer{
    background-color: #502b5b;
}

footer > div{
    padding: 50px 0px;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}

